In [1]:
from GUI import GUI
from layout.obj.Compo import Compo
import layout.lib.pairing as pairing
import layout.lib.repetition_recognition as rep
import layout.lib.draw as draw
from sklearn.cluster import DBSCAN

import cv2
import pandas as pd
import math
import numpy as np
import os
from os.path import join as pjoin

In [2]:
gui = GUI(img_file='E:\\Mulong\\Datasets\\gui\\rico\\combined\\all\\2114.jpg', output_dir='E:\\Temp\\data\\rico-layout\\result')

In [3]:
gui.element_detection()
# gui.visualize_element_detection()

In [4]:
gui.layout_recognition()
gui.visualize_layout_recognition()

nt-0 False - t-0 False
[Layout Recognition Completed in 1.146 s] Input: E:\Mulong\Datasets\gui\rico\combined\all\2114.jpg Output: E:\Temp\data\rico-layout\result\layout\2114.json
Mon Aug 23 11:36:33 2021

In [11]:
gui.cvt_compos_json_to_dataframe()

In [12]:
gui.compos_df.repetitive_group_recognition(show=False)

In [13]:
gui.compos_df.pair_groups()

t-0 False - nt-0 False

In [15]:
gui.compos_df.repetitive_block_recognition()

In [16]:
b = gui.visualize_compos_df('group')

In [4]:
gui.cvt_compos_json_to_dataframe()
gui.compos_df.repetitive_group_recognition()

In [5]:
gui.compos_df.calc_gap_in_group()

In [8]:
df = gui.compos_df.compos_dataframe
g_nt0 = df[df['group'] == 'nt-0']
g_t0 = df[df['group'] == 't-0']

In [9]:
pairing.match_two_groups_with_text_by_angles_and_y_distance(g_nt0, g_t0)

[[-48, 5, 23, 47, 63, None, None, None, None, None, None, None, None], [None, -42, -30, 6, 45, 63, None, None, None, None, None, None, None], [None, None, -56, -39, 5, 45, 63, None, None, None, None, None, None], [None, None, None, -60, -40, 4, 46, 63, None, None, None, None, None], [None, None, None, None, -61, -41, 5, 45, 63, None, None, None, None], [None, None, None, None, None, -61, -40, 5, 47, 63, None, None, None], [None, None, None, None, None, None, -60, -40, 7, 46, 63, None, None], [None, None, None, None, None, None, None, -60, -39, 6, 46, 63, None], [None, None, None, None, None, None, None, None, -60, -40, 6, 45, 63], [None, None, None, None, None, None, None, None, None, -60, -39, 5, 46]]
[[42, -1, -1, 25, 85, None, None, None, None, None, None, None, None], [None, 46, 26, -1, 23, 84, None, None, None, None, None, None, None], [None, None, 87, 19, -1, 22, 85, None, None, None, None, None, None], [None, None, None, 81, 19, -1, 24, 85, None, None, None, None, None], [None, None, None, None, 81, 19, -1, 23, 87, None, None, None, None], [None, None, None, None, None, 80, 19, -1, 26, 86, None, None, None], [None, None, None, None, None, None, 81, 19, -1, 23, 85, None, None], [None, None, None, None, None, None, None, 80, 20, -1, 25, 85, None], [None, None, None, None, None, None, None, None, 82, 19, -1, 23, 86], [None, None, None, None, None, None, None, None, None, 80, 18, -1, 25]]

D:\Anaconda\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
D:\Anaconda\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

True

In [ ]:
pairing.match_two_groups_by_distance(g_nt1, g_t6)

In [14]:
g_nt1

,id,class,column_min,column_max,row_min,row_max,height,width,area,center,...,center_row,text_content,children,parent,alignment_in_group,gap,group,pair_to,group_pair,list_item
8,8,Compo,17,26,410,423,13,9,117,"(21.5, 416.5)",...,416.5,-1,-1,-1,v,77,nt-1,-1,-1,-1
10,10,Compo,17,26,500,512,12,9,108,"(21.5, 506.0)",...,506.0,-1,-1,-1,v,-1,nt-1,-1,-1,-1

In [15]:
g_t6

,id,class,column_min,column_max,row_min,row_max,height,width,area,center,...,center_row,text_content,children,parent,alignment_in_group,gap,group,pair_to,group_pair,list_item
14,14,Text,76,183,172,187,15,107,1605,"(129.5, 179.5)",...,179.5,Bluetooth Share,-1,-1,v,110,t-6,15,1,0
18,18,Text,91,167,297,312,15,76,1140,"(129.0, 304.5)",...,304.5,Nfc Service,-1,-1,v,110,t-6,19,1,1
21,21,Text,97,162,422,437,15,65,975,"(129.5, 429.5)",...,429.5,Facebook,-1,-1,v,110,t-6,22,1,2
25,25,Text,94,163,547,562,15,69,1035,"(128.5, 554.5)",...,554.5,Work Chat,-1,-1,v,-1,t-6,26,1,3

In [8]:
# gui.layout_recognition(check_valid_group=False)
# gui.visualize_layout_recognition()