In [1]:
from GUI import GUI
from layout.obj.Compo import Compo
import layout.lib.pairing as pairing
import layout.lib.repetition_recognition as rep
import layout.lib.draw as draw
from sklearn.cluster import DBSCAN

import cv2
import pandas as pd
import math
import numpy as np
import os
from os.path import join as pjoin

In [2]:
gui = GUI(img_file='E:\\Mulong\\Datasets\\gui\\rico\\combined\\all\\2114.jpg', output_dir='E:\\Temp\\data\\rico-layout\\result')

In [3]:
gui = GUI(img_file='data/input/10.jpg')

In [4]:
gui.element_detection()
# gui.visualize_element_detection()

In [5]:
gui.layout_recognition()
gui.visualize_layout_recognition()

[Layout Recognition Completed in 0.947 s] Input: data/input/10.jpg Output: data/output\layout\10.json
Sat Aug 28 19:09:25 2021

In [6]:
gui.cvt_compos_json_to_dataframe()

In [7]:
gui.compos_df.repetitive_group_recognition(show=False)

In [8]:
gui.compos_df.pair_groups()

In [9]:
b = gui.visualize_compos_df('group')

In [11]:
df = gui.compos_df.compos_dataframe
blocks = df[(df['class']=='Block') & (~pd.isna(df['children'])) & (df['children']!=-1)]

In [12]:
blocks

,id,class,column_min,column_max,row_min,row_max,height,width,area,center,center_column,center_row,text_content,children,parent,alignment_in_group,gap,group,pair_to,group_pair
1,1,Block,9,150,242,381,139,141,19599,"(79.5, 311.5)",79.5,311.5,-1,"(4, 26)",-1,-1,-1,-1,-1,-1
2,2,Block,154,294,242,381,139,140,19460,"(224.0, 311.5)",224.0,311.5,-1,"(5, 27)",-1,-1,-1,-1,-1,-1
3,3,Block,298,439,243,381,138,141,19458,"(368.5, 312.0)",368.5,312.0,-1,"(6, 28)",-1,-1,-1,-1,-1,-1
7,7,Block,9,150,448,586,138,141,19458,"(79.5, 517.0)",79.5,517.0,-1,"(10, 12, 31)",-1,-1,-1,-1,-1,-1
8,8,Block,153,294,447,586,139,141,19599,"(223.5, 516.5)",223.5,516.5,-1,"(13, 30, 32)",-1,-1,-1,-1,-1,-1
9,9,Block,298,439,447,586,139,141,19599,"(368.5, 516.5)",368.5,516.5,-1,"(11, 14, 33)",-1,-1,-1,-1,-1,-1

In [17]:
for i in range(len(blocks)):
    children = df[df['id'].isin(blocks.iloc[i]['children'])].sort_values('center_row')

In [18]:
children

,id,class,column_min,column_max,row_min,row_max,height,width,area,center,center_column,center_row,text_content,children,parent,alignment_in_group,gap,group,pair_to,group_pair
11,11,Compo,412,425,457,475,18,13,234,"(418.5, 466.0)",418.5,466.0,-1,-1,9,-1,-1,-1,-1,-1
14,14,Compo,352,382,464,523,59,30,1770,"(367.0, 493.5)",367.0,493.5,-1,-1,9,-1,-1,-1,-1,-1
33,33,Text,321,417,532,553,21,96,2016,"(369.0, 542.5)",369.0,542.5,Lower Body,-1,9,-1,-1,-1,-1,-1

In [5]:
gui.cvt_compos_json_to_dataframe()
gui.compos_df.repetitive_group_recognition()

In [6]:
gui.compos_df.calc_gap_in_group()

In [7]:
df = gui.compos_df.compos_dataframe
g_nt1 = df[df['group'] == 'nt-1']
g_t0 = df[df['group'] == 't-0']
g_t1 = df[df['group'] == 't-1']
g_nt2 = df[df['group'] == 'nt-2']

In [8]:
pairing.match_two_groups_with_text_by_angles_and_y_distance(g_nt2, g_t1)

[5, 6, 6, 7] Corner Angles: [119, 105, 138, 99] Center Angles: [89, 90, 87, 92]
corner not match

D:\Anaconda\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
D:\Anaconda\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

True

In [10]:
g_nt2

,id,class,column_min,column_max,row_min,row_max,height,width,area,center,...,center_row,text_content,children,parent,alignment_in_group,gap,group,pair_to,group_pair,list_item
19,19,Compo,46,68,696,721,25,22,550,"(57.0, 708.5)",...,708.5,-1,-1,-1,h,87,nt-2,-1,-1,-1
20,20,Compo,155,182,696,717,21,27,567,"(168.5, 706.5)",...,706.5,-1,-1,-1,h,85,nt-2,-1,-1,-1
21,21,Compo,267,292,697,720,23,25,575,"(279.5, 708.5)",...,708.5,-1,-1,-1,h,86,nt-2,-1,-1,-1
22,22,Compo,378,406,698,719,21,28,588,"(392.0, 708.5)",...,708.5,-1,-1,-1,h,-1,nt-2,-1,-1,-1

In [11]:
g_t1

,id,class,column_min,column_max,row_min,row_max,height,width,area,center,...,center_row,text_content,children,parent,alignment_in_group,gap,group,pair_to,group_pair,list_item
36,36,Text,30,85,726,740,14,55,770,"(57.5, 733.0)",...,733.0,Workout,-1,-1,h,63,t-1,-1,-1,-1
37,37,Text,148,189,723,737,14,41,574,"(168.5, 730.0)",...,730.0,Learn,-1,-1,h,46,t-1,-1,-1,-1
38,38,Text,235,327,726,736,10,92,920,"(281.0, 731.0)",...,731.0,Achievemente,-1,-1,h,47,t-1,-1,-1,-1
39,39,Text,374,409,726,735,9,35,315,"(391.5, 730.5)",...,730.5,Track,-1,-1,h,-1,t-1,-1,-1,-1

In [8]:
# gui.layout_recognition(check_valid_group=False)
# gui.visualize_layout_recognition()