In [1]:
from GUI import GUI
import layout.lib.repetition_recognition as rep

In [2]:
gui = GUI(img_file='data/input/11.jpg')

In [3]:
gui.detect_element()
# gui.load_detection_result()
gui.visualize_element_detection()

[Text Detection Completed in 2.471 s] Input: data/input/11.jpg Output: data/output\ocr\11.json
[Compo Detection Completed in 0.731 s] Input: data/input/11.jpg Output: data/output\ip\11.json
[Merge Completed] Input: data/input/11.jpg Output: data/output\uied\11.jpg

In [4]:
gui.recognize_layout()
gui.visualize_layout_recognition()

[Layout Recognition Completed in 0.847 s] Input: data/input/11.jpg Output: data/output\layout\11.json

In [18]:
gui.visualize_element_detection()

In [15]:
gui.visualize_layout_recognition()

In [4]:
gui.cvt_compos_json_to_dataframe()

In [5]:
df = gui.compos_df.compos_dataframe

In [6]:
df[df['class'] == 'Text']

,id,class,column_min,column_max,row_min,row_max,height,width,area,center,center_column,center_row,text_content,children,parent
9,9,Text,77,137,26,43,17,60,1020,"(107.0, 34.5)",107.0,34.5,Deals,None,None
10,10,Text,106,142,91,105,14,36,504,"(124.0, 98.0)",124.0,98.0,NEW,None,None
11,11,Text,71,123,160,173,13,52,676,"(97.0, 166.5)",97.0,166.5,Lindsay,None,None
12,12,Text,72,208,179,191,12,136,1632,"(140.0, 185.0)",140.0,185.0,Posted -172 minutes ago,None,None
13,13,Text,71,104,403,414,11,33,363,"(87.5, 408.5)",87.5,408.5,Julie,None,None
14,14,Text,72,208,422,433,11,136,1496,"(140.0, 427.5)",140.0,427.5,Posted 147 minutes ago,None,None
15,15,Text,72,106,645,657,12,34,408,"(89.0, 651.0)",89.0,651.0,Chris,None,None
16,16,Text,72,208,665,676,11,136,1496,"(140.0, 670.5)",140.0,670.5,Posted -106 minutes ago,None,None
17,17,Text,336,410,91,105,14,74,1036,"(373.0, 98.0)",373.0,98.0,POPULAR,None,None
18,18,Text,189,454,216,232,16,265,4240,"(321.5, 224.0)",321.5,224.0,BonTon : Pink Rose Dresses,None,None
19,19,Text,189,306,239,260,21,117,2457,"(247.5, 249.5)",247.5,249.5,$ 17 Shipped,None,None
20,20,Text,188,444,457,475,18,256,4608,"(316.0, 466.0)",316.0,466.0,WHBM : Extra 40 % Off Sale,None,None
21,21,Text,189,460,700,720,20,271,5420,"(324.5, 710.0)",324.5,710.0,12 Ribbed Cotton Tank Tops,None,None
22,22,Text,190,306,725,747,22,116,2552,"(248.0, 736.0)",248.0,736.0,$ 25 Shipped,None,None

In [4]:
gui.cvt_compos_json_to_dataframe()

In [5]:
gui.compos_df.recognize_element_groups_by_clustering(show=False)

In [6]:
gui.compos_df.calc_gap_in_group()